body {
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color:seashell;
    background-color: black;
    text-align: center;
}

a {
    color: seashell;
    
}

h2,
h3,
h4 {
    margin: 0px;
    padding: 10px; 
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*  HEADER  */

header {
    width: 100%;
    z-index: 1; 
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
    position: fixed;
    top: 0px;
}

header img {
    height: 50px;
    padding-left: 20px; 
}

nav {
    text-align: right;
    flex-grow: 1;
    margin-right: 20px;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}

/*  MISSION  */

#mission {
    height: 700px;
    background-image: url("/Users/ldevol/projects/Tea Cozy/resources/pictures/img-mission-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 70px;
}

#mission .content {
    margin: auto;
    background-color: black;
    width: 100%;
}

/*  FEATURED TEA  */

#featured-tea {
    width: 1000px;
    height: 700px;
    margin: auto;
    padding-top: 70px;
}

#flex-container-items {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.item {
    
    padding: 5px;
}

.item img{
    height: 200px;
    width: 300px;
    margin: 10px;
    display: block;
}

.item span {
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center ;
}

/*  LOCATIONS  */

#locations {
    height: 500px;
    background-image: url("/Users/ldevol/projects/Tea Cozy/resources/pictures/img-locations-background.jpg");
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 70px;
}

#flex-container-locations {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.address {
    background-color: black;
    display: block;
    margin: 15px 20px 0px 20px;
    width: 300px;
    padding-top: 10px;
    line-height: 20px;
}

/*  FOOTER  */

footer {
    padding-top: 70px;
}

#contact {
    height: 200px;
}

#copyright {
    text-align: left;
    margin-left: 20px;
    height: 30px;
    padding-bottom: 10px;
}