* {
    font-family: "Helvetica", sans-serif;
    background-color: black;
    color: white;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li {
    list-style: none;
    display: inline;
    margin: 0px 10px;
}

#logo {
    height: 50px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
